 
 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
                
   
 
 <script th:src="@{/resources/static/admin/js/jquery-1.11.1.min.js}"></script>
 <script th:src="@{/resources/static/admin/js/jquery-migrate-1.2.1.min.js}"></script>
 <script th:src="@{/resources/static/admin/js/bootstrap.min.js}"></script>
 <script th:src="@{/resources/static/admin/js/modernizr.min.js}"></script>
 <script th:src="@{/resources/static/admin/js/pace.min.js}"></script>
 <script th:src="@{/resources/static/admin/js/retina.min.js}"></script>
 <script th:src="@{/resources/static/admin/js/jquery.cookies.js}"></script>
        
 <script th:src="@{/resources/static/admin/js/flot/jquery.flot.min.js}"></script>
 <script th:src="@{/resources/static/admin/js/flot/jquery.flot.resize.min.js}"></script>
 <script th:src="@{/resources/static/admin/js/flot/jquery.flot.spline.min.js}"></script>
 <script th:src="@{/resources/static/admin/js/jquery.sparkline.min.js}"></script>
 <script th:src="@{/resources/static/admin/js/morris.min.js}"></script>
 <script th:src="@{/resources/static/admin/js/raphael-2.1.0.min.js}"></script>
 <script th:src="@{/resources/static/admin/js/bootstrap-wizard.min.js}"></script>
 <script th:src="@{/resources/static/admin/js/select2.min.js}"></script>

 <script th:src="@{/resources/static/admin/js/custom.js}"></script>
 <script th:src="@{/resources/static/admin/js/dashboard.js}"></script>
</html>